<div class="center-contents" style="margin-top: 150px">

    <%= form_for @link do |f| %>

      <%= f.text_field :url, class: 'one' %>

      <%= f.text_field :title, class: 'two' %>

      <%= f.submit "Submit", class: 'three' %>
    <% end %>

</div>
